a:link {
	color: white;
	text-decoration: none;
	padding: 20px 30px 15px 30px;
}

a:visited {
	color: white;
}

.top-link:hover {
	color: white;
	background-color: #666666;
	padding-top: 22px;
	padding-bottom: 16px;
	}

ol li {
	display: inline-block;
	margin-top: -40px;
}
.date {
	font-size: 10px;
	font-style: italic;
	color: #b3b3b3;
	position: absolute;
	top: 270px;
	
}

.postNumber {
	padding-left: 10px;	
	
}

.post-title{
	color: #bdbdbd;
}

.subtitle{
	color: #bdbdbd;
}

.post {
	color: #d3d3d3;
	font-famly: Arial;
}

.date {
	color: ;
	right: 0;
	margin: 10px;
}
 .blog-post {
	display: disable;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div #post-link {
	color: black;
}



